html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Roman.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Thin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'SFDistantGalaxy';
  src: url('/fonts/SFDistantGalaxy-0l3d.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --default-color: #FFFFFF;
  --back-color: #000000;
  --default-radius: 40px;
}

p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  textarea {
    padding: 0;
    margin: 0;
  }

a {
  text-decoration: none;
  color: inherit;
}

body {
    margin: 0 auto;
    background-color: var(--back-color);
    font-family: 'Helvetica Neue';
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  cursor: pointer;
}

.back-container {
  width: 100%;
  height: 100dvh;
  
}

.block-film {
  width: 40%;
  padding: 100px 80px;
}

.title {
  color: var(--default-color);
}

.list {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-list {
  color: var(--default-color);
}

.p-film {
  color: var(--default-color);
}