@keyframes gradientText {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media (hover: hover) and (pointer: fine) {
  .accordion:hover .accordion-header,
  .accordion:hover .accordion-list {
    background-color: #3d3d3d;
  }
}

.accordion .open-head,
.accordion .open-head + .accordion-list {
  background-color: #3d3d3d;
}

.accordion-list::-webkit-scrollbar {
  width: 6px; 
}

.accordion-list::-webkit-scrollbar-track {
  background: transparent; 
}

.accordion-list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.068); 
  border-radius: 4px;
  transition: background 0.2s;
}

.accordion-list::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.137); 
}

.accordion {
  transition: all 0.5s;
}

.accordion-header,
.accordion-list {
  transition: background-color 0.3s;
}

.accordion-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: rgb(27, 27, 27);
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease; /* плавное появление */
}

.open-head::after {
  transform: translateX(-50%) scaleX(1);
  transition: transform 1s ease; /* плавное раскрытие */
}

.accordion-header:not(.open-head)::after {
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.05s ease-out; 
}

.btn-acc:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #ff9100, #c94a00,#a30000, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    transform: translateZ(0);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 25px;
}

.btn-acc:active:after {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.1s;
}

.btn-acc:hover:before {
    opacity: 1;
}

.btn-acc:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #292929;
    left: 0;
    top: 0;
    border-radius: 25px;
}

